---
import At from './Icons/At.astro'
import Framer from './Icons/Framer.astro'
import GitHub from './Icons/GitHub.astro'
import Google from './Icons/Google.astro'
import House from './Icons/House.astro'
import Instagram from './Icons/Instagram.astro'
import PaperPlateTilt from './Icons/PaperPlateTilt.astro'
import PencilLine from './Icons/PencilLine.astro'
import Phosphor from './Icons/Phosphor.astro'
import StackSimple from './Icons/StackSimple.astro'
import Telegram from './Icons/Telegram.astro'
import User from './Icons/User.astro'
type Icons =
	| 'github'
	| 'telegram'
	| 'instagram'
	| 'house'
	| 'user'
	| 'pencilline'
	| 'stacksimple'
	| 'paperplanetilt'
	| 'at'
	| 'framer'
	| 'phosphor'
	| 'google'
interface Props {
	selected?: boolean
	variant?: 'default' | 'link' | 'social'
	text?: string
	icon: Icons
	link?: string
	target?: '_blank' | '_self'
}
const {
	selected = false,
	variant = 'default',
	text = '',
	icon,
	link = '#',
	target = '_self',
} = Astro.props
const iconMap = {
	github: GitHub,
	telegram: Telegram,
	instagram: Instagram,
	house: House,
	user: User,
	pencilline: PencilLine,
	stacksimple: StackSimple,
	paperplanetilt: PaperPlateTilt,
	at: At,
	framer: Framer,
	phosphor: Phosphor,
	google: Google,
}
const IconComponent = iconMap[icon]
---

<div class=`menu-button ${variant}`>
	<a target={target} href={link} class=`menu-button-link ${variant}`>
		<div style='display: flex;'>
			<IconComponent class=`menu-button-icon ${variant}` />
		</div>
		{selected && <div class='dot' />}
		{variant === 'link' && <p class='menu-button-text'>{text}</p>}
	</a>
</div>

<style>
	.menu-button-icon {
		width: 24px;
		height: 24px;
		@media screen and (max-width: 390px) {
			width: 16px;
			height: 16px;
		}
	}
	.menu-button-icon.social {
		width: 16px;
		height: 16px;
	}
	.menu-button-icon.link {
		width: 16px;
		height: 16px;
	}
	.menu-button {
		width: 54px;
		height: 54px;
		@media screen and (max-width: 390px) {
			width: 42px;
			height: 42px;
			border-radius: 14px;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		background-color: var(--dark-10);
		border-radius: 18px;
		overflow: hidden;
	}
	.menu-button.link {
		width: 100%;
		height: 42px;
		border-radius: 14px;
	}

	.menu-button.social {
		width: 42px;
		height: 42px;
		border-radius: 14px;
	}

	.menu-button-link {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 8px;
		@media screen and (max-width: 390px) {
			gap: 6px;
		}
		border-radius: 18px;
		color: var(--purple-80);
		padding: 0 13px;
	}

	.menu-button-link.link {
		justify-content: flex-start;
		flex-direction: row;
		gap: 8px;
	}

	.dot {
		width: 8px;
		height: 2px;
		background-color: var(--purple-80);
		border-radius: 3px;
		@media screen and (max-width: 390px) {
			border-radius: 6px;
		}
	}

	.menu-button-text {
		color: var(--light-90);
		font-size: 16px;
		font-weight: 300;
		line-height: 1.4em;
	}
	.menu-button:hover {
		background: radial-gradient(
			50% 50% at 50% 50%,
			rgb(64, 64, 64) 0%,
			rgb(38, 38, 38) 59.56915632039396%,
			rgb(26, 26, 26) 100%
		);
	}
	.menu-button:hover .menu-button-link {
		color: var(--light-90);
	}
	.menu-button:hover .dot {
		background-color: var(--light-90);
	}
	.menu-button.link:hover {
		background: var(--dark-10);
	}
	.menu-button.link:hover .menu-button-icon {
		color: var(--purple-90);
	}
</style>
